:root {
  --titleColor: #feda4a;
  --fontColor: #fff;
  --drkBackground: #121212;
  --btnColorDark: #6b0f15;
  --btnColorLight: #f72331;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--drkBackground);
  background-image: url("../images/space.png");
  color: var(--fontColor);
  font-family: "Jura", sans-serif;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
}

h1 {
  color: var(--titleColor);
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
  font-size: 9vw;
  font-family: "Days One", sans-serif;
  margin-top: 2rem;
}

main {
  flex: 1;
}

footer {
  color: var(--titleColor);
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
  font-size: 1.3rem;
  margin: 0 auto;
  line-height: 0.1em;
}

.container {
  margin: 1rem auto;
} 

#loadQuoteBtn {
  font-family: "Days One", sans-serif;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  display: inline-block;
  font-size: 4vw;
  margin: 1rem auto;
  padding: 1rem;
  animation: glowing 2500ms infinite;
  
}

.quoteOutput {
  background: rgba(0, 0, 0, 0.3);
  margin: 2rem auto;
}

/* BUTTON INTERACTION STYLES */
#loadQuoteBtn:focus {
  outline: none;
}
#loadQuoteBtn:hover {
  animation: none;
  background-color: #f72331;
  box-shadow: 0 0 10px #f72331;
}

/*BUTTON RED GLOWING ANIMATION KEYFRAMES */
@keyframes glowing {
  0% {
    background-color: #6b0f15;
    box-shadow: 0 0 3px #6b0f15;
  }
  50% {
    background-color: #f72331;
    box-shadow: 0 0 10px #f72331;
  }
  100% {
    background-color: #6b0f15;
    box-shadow: 0 0 3px #6b0f15;
  }
}

/* QUOTE TYPOGRAPHY STYLES */
.quote {
  width: 80%;
  font-size: 7vw;
  margin: 0 auto;
  text-align: left;
  line-height: 1.2;
}
.source {
  font-weight: bold;
  width: 70%;
  font-size: 6vw;
  margin: 1.5rem auto;
}
.sourcePerson {
  color: var(--titleColor);
}
.citation {
  font-style: italic;
}
.year {
  font-weight: lighter;
}

/*************************
  STYLES FOR LARGER SCREENS
**************************/
/* TODO: FINISH STYLES FOR LARGER SCREENS */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  #loadQuoteBtn {
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
    /* margin: 5rem auto; */
  }

  .container{
    margin: 2% auto 3%;
  }

  .quote{
    font-size: 2.5rem;
    /* margin: 5rem auto; */
    text-align: center;

  }
  .source{
    font-size: 2rem;
  }

  

}
